#products{

  .product-title{
    padding: 80px 0;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url('/images/title-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    font-size: 14px;
  }

  .nav.nav-tabs{
    justify-content: center;
    border-bottom: 0px;
    margin: 48px;
    li {
      a{
        border: 0px;
        color: #000;
        font-weight: bold;
      }
    }
  }


  .product-content{
    padding: 70px 0px;
  }

  .product-price{
    color: #e42555;
    font-size: 20px;
  }

  .product-name{
    line-height: 1.2;
    color: #333333;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .product-description{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
    padding-top: 30px;
  }

  .product-info{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
    padding-top: 30px 
  }

  .product-actions{
    font-size: 0px;
    padding-top: 24px;
    input{
      font-size: 16px;
      background-color: #f5f5f5;
      border: none;
      height: 46px;
      border-radius: 30px 0 0 30px;
      padding-left: 20px;
      width: 80px;
      text-align: center;
    }

    .changers{
      display: inline-block;
      vertical-align: top;
      span{
        font-size: 16px;
        display: block;
        border-radius: 0;
        padding: 0;
        width: 30px;
        font-size: 12px;
        line-height: 23px;
        background-color: #e9e9e9;
        text-align: center;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -webkit-touch-callout: none;
        -o-user-select: none;
        -moz-user-select: none;
        &:hover{
          background-color: #cbcbcb;
        }
      }
    }

    button{
      vertical-align: top;
      margin-top: 0;
      padding: 0px 20px;
      border-radius: 0 30px 30px 0;
      height: 46px;
      background-color: #e42555;
      color: #ffffff;
      border: none !important;
      font-weight: 500;
      display: inline-block;
      line-height: 46px;
      font-weight: 300;
      &:hover{
        background-color: #333333;
        color: #ffffff;
      }
    }
  }

}




