a:hover{
  color: #e42555;
  text-decoration: none;
}

.wrapper{
  /*max-width: 1200px;*/
  margin: 0 auto;
  background: #fff;
}

.title {
  padding: 32px 0px;
  text-align: center;
  h1 {
    margin: 0px;
    font-weight: 300;
  }
}


.image-cart{
  max-width: 28px;
  max-height: 28px;
}


.navbar-brand{
  img{
    width: 210px;
  }
}

.img-table{
  max-width: 75px;
}

.img-table2{
  max-height: 150px;
}

.img-table3{
  max-height: 100px;
}

.table{
  td{
    vertical-align: middle;
    padding: 4px 12px;
  }
}


.description{
  font-weight:300;
  padding: 24px 0px; 
}

.cart-info{
  position: relative;
  .cart-length{
    position: absolute;
    top: -5px;
    left: 24px;
    display: table;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 9px;
    background: #eaeaea;
    border-radius: 50%;
    text-align: center;
  }
}

.cart-link{

  .dropdown-menu{
    left: -400%;
    min-width: 18rem;

    .dropdown-item{
      span{
        font-size: 11px;
        display: inline-block;
        vertical-align: middle;
        &.item-name{
          width: 45%;
          text-align: center;
        }

      }
    }

    .btn.btn-red{
      display: block;
      background: red;
      width: 80%;
      margin: 10px auto 0px;
      background-color: #e42555;
      color: #fff;
      &:hover{
        background-color: #333333;
      }
    }

  }
}