.category-box{
  margin-bottom: 30px;
  height: auto;

  .category-container{
    position: relative;
    overflow: hidden;

    &:before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.18);
      content: '';
      transition: transform 0.6s;
      transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0);
      z-index: 1;
    }

    .category-image{
      img{
        max-width: 100%;
        height: auto;
        transition: opacity 0.35s,transform 0.35s;
      }
    }

    .category-meta{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      .category-meta-content{
        display: table;
        height: 100%;
        padding: 15px 25px;
        &.left{
          float: left!important;
        }

        &.center{
          margin-left: auto;
          margin-right: auto;

        }

        .category-meta-text{
          display: table-cell;
          vertical-align: middle;

          .category-title{
            font-weight: 300;
            background: rgba(255,255,255,0.7);
            padding: 6px 17px;
            border-radius: 25px;
            transition: 0.5s;
            margin-left: -3px;
            margin-right: -3px;
            display: inline-block;
            font-size: 20px;
            position: relative;
          }

          .category-link{
            font-weight: 500;
            display: block;
            a{
              color: #333333;
            }
          }

        }
      }
    }

  }


  &:hover{

    .category-container{
      &:before{
          transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0);
      }
    }

    .category-image{
      img{
        transform: scale3d(1.05,1.05,1);
      }
    }

    .category-meta{
      .category-meta-content{
        .category-meta-text{
          .category-title{
            box-shadow: 0 5px 9px rgba(0,0,0,0.2);
            background: rgba(0,0,0,0.8);
            color: #ffffff !important;
            transform: scale3d(1.05,1.05,1);
          }
        }
      }
    }

  }
}




