footer{

  a{
    color: #d0d0d0;
  }
  
  .block {
    padding: 80px 15px 60px 15px;

    h2 {
      font-size: 23px;
      color: #fff;
    }

    ul{
      list-style-type: none;
      padding: 0px;

      li a {
        display: inline-block;
        margin-bottom: 10px;
      }

    }

  }

}