nav.navbar{
  i{
    font-size: 23px;
    color: #000;
    line-height: 1;
  }
}

.bg-dark{
  nav.navbar{
    i{
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.form-inline{
  .form-control{
    display: inline-block;
    width: 450px;
    vertical-align: middle;
  }
}